@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(background-image/backgroundpixel.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.everything {
  align-items: flex-start;
  height: 100vh;
  padding: 25px;
}

.title {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-shadow:
    5px 0 black,
    -5px 0 black,
    0 5px black,
    0 -5px black,
    5px 5px black,
    -5px -5px black,
    5px -5px black,
    -5px 5px black;
}

.scores-and-form {
  gap: 25px;
  height: 87%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.names-scores {
  justify-content: space-between;
  padding: 15px;
  background-image: linear-gradient(to bottom, rgb(88, 73, 107), rgb(70, 16, 156));
  color: white;
}

.recent-scores {
  color: white;
}

.scores-title-button {
  gap: 25px;
  align-items: center;
  padding: 15px 0;
  color: white;
}

.scores-refresh {
  background-color: purple;
  border: 1px solid black;
  text-decoration: none;
  padding: 5px 20px;
  color: white;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  border-radius: 15px;
}

.scores-refresh:hover {
  background-color: blue;
}

.scores-box {
  border: 1px solid black;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
  color: white;
  width: 600px;
}

.individual-user {
  margin-right: 50px;
  min-width: 150px;
}

.user-score-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, rgb(79, 58, 98), rgb(38, 25, 60));
  padding: 10px;
}

.user-score-div:nth-child(even) {
  background-image: linear-gradient(to bottom, rgb(43, 43, 84), rgb(30, 27, 60));
}

.add-score {
  color: white;
}

.add-score-title {
  padding: 15px 0;
  color: white;
}

.score-inputs {
  gap: 5px;
  align-items: flex-end;
}

.score-inputs-button {
  background-color: purple;
  color: white;
  width: 120px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.score-inputs-button:hover {
  background-color: blue;
}